*{
	box-sizing: border-box;
}

body{
	font-family: "Helvetica", "sans-serif";
	font-size: 20px;
}

h1 {
	text-align: center;
	margin-bottom: 15px;
}

.row {
	width: 100%;
}

section {
	background-color: #D3D3D3;
	margin: 20px;
	border: 1px solid black;
}

p {
	padding: 10px;
}

#chicken {
	position: relative;
	background-color: #FFC0CB;
	border: 1px solid black;
	width: 30%;
	left: 70%;
	text-align: center;
	padding: 10px;
	font-weight: bold;
}

#beef {
	position: relative;
	background-color: #FF0000;
	border: 1px solid black;
	width: 30%;
	left: 70%;
	text-align: center;
	padding: 10px;
	font-weight: bold;
}

#sushi {
	position: relative;
	background-color: #FFFF00;
	border: 1px solid black;
	width: 30%;
	left: 70%;
	text-align: center;
	padding: 10px;
	font-weight: bold;
}


@media (min-width: 992px) {
	.col-lg-4{
		float: left;
	}
.col-lg-4 {
	width: 33%;
}
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12{
		float: left;
	}

.col-md-6 {
	width: 50%;
	
}
.col-md-12 {
	width: 100%;
}
}
@media (max-width: 767px) {
	.col-sm-12{
		float: left;
	}

.col-sm-12 {
	width: 100%;
}
}